body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  color: "#c8d2eb";
  font-weight: 500;
  margin-top: 7px;
  font-size: 17px;
}